@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-weight: 62.5%;
}

@media (max-width: 900px) {
  .container {
    width: 100%;
  }
}
@keyframes orbit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.card .card-back, .card .card-front {
  position: absolute;
  border-radius: 1rem;
  padding: 2rem;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.75rem);
  -webkit-backdrop-filter: blur(0.75rem);
}

.card .card-back, .card .card-front {
  flex-direction: column;
  justify-content: space-between;
}

.container-card h3, .container-card h2, .container-card h1 {
  font-weight: 400;
  color: transparent;
  text-shadow: 0rem 0.1rem 0 rgba(17, 16, 16, 0.17);
}

.card .card-back, .card .card-front {
  position: absolute;
  border-radius: 1rem;
  padding: 2rem;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.75rem);
  -webkit-backdrop-filter: blur(0.75rem);
}

.card .card-back, .card .card-front {
  flex-direction: column;
  justify-content: space-between;
}

.container-card h3, .container-card h2, .container-card h1 {
  font-weight: 400;
  color: transparent;
  text-shadow: 0rem 0.1rem 0 rgba(17, 16, 16, 0.17);
}

.container-card h1 {
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
}
.container-card h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.container-elements {
  color: white;
  text-align: right;
  font-family: "Poppins", sans-serif;
}
.container-elements .text h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
.container-elements .text p {
  font-weight: 400;
  font-size: 3rem;
}

@keyframes orbit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
img {
  width: 3rem;
}

.container-card {
  width: 100%;
  transform: rotate(-5deg);
  position: relative;
  display: flex;
}
.container-card .circle::after {
  position: absolute;
  content: "";
  width: 15rem;
  height: 15rem;
  top: 10rem;
  left: 10rem;
  border-radius: 50%;
  background: #b8b1b1;
}
.container-card .circle::before {
  content: "";
  position: absolute;
  top: -5em;
  left: 23rem;
  background: white;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.container-elements {
  margin-left: 2rem;
  margin-right: 5rem;
}

.card {
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
.card .card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}
.card .colum {
  width: 100%;
  height: 20%;
  background-color: rgba(17, 16, 16, 0.17);
}

.card .card-front, .card .card-back {
  position: absolute;
  border-radius: 1rem;
  padding: 2rem;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.75rem);
  -webkit-backdrop-filter: blur(0.75rem);
}

.card .card-front, .card .card-back {
  flex-direction: column;
  justify-content: space-between;
}

.container-card h1, .container-card h2, .container-card h3 {
  font-weight: 400;
  color: transparent;
  text-shadow: 0rem 0.1rem 0 rgba(17, 16, 16, 0.17);
}

.container-card h1 {
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
}
.container-card h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.container-elements {
  color: white;
  text-align: right;
  font-family: "Poppins", sans-serif;
}
.container-elements .text h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
.container-elements .text p {
  font-weight: 400;
  font-size: 3rem;
}

.card .card-front, .card .card-back {
  position: absolute;
  border-radius: 1rem;
  padding: 2rem;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.75rem);
  -webkit-backdrop-filter: blur(0.75rem);
}

.card .card-front, .card .card-back {
  flex-direction: column;
  justify-content: space-between;
}

.container-card h1, .container-card h2, .container-card h3 {
  font-weight: 400;
  color: transparent;
  text-shadow: 0rem 0.1rem 0 rgba(17, 16, 16, 0.17);
}

header, .main-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.main-container {
  height: 100vh;
}

.container {
  background: #07074d;
  background: linear-gradient(90deg, #07074d 5%, #1428d4 47%, #0090ff 87%);
}

/*# sourceMappingURL=styles.css.map */
