@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-weight: 62.5%;
  font-family: "PT Sans", sans-serif;
}

@media (max-width: 900px) {
  .container {
    width: 100%;
  }
}
@keyframes orbit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.card .card-back, .card .card-front {
  position: absolute;
  border-radius: 1rem;
  padding: 2rem;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.75rem);
  -webkit-backdrop-filter: blur(0.75rem);
}

.card .card-back, .card .card-front {
  flex-direction: column;
  justify-content: space-between;
}

h2, h1 {
  color: transparent;
  text-shadow: 0rem 0.1rem 0 rgba(17, 16, 16, 0.17);
}

h1 {
  font-weight: 400;
}

h2 {
  text-transform: uppercase;
}

@keyframes orbit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
img {
  width: 3rem;
}

.container-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}
.container-card .circle::after {
  position: absolute;
  content: "";
  width: 15rem;
  height: 15rem;
  top: -6rem;
  left: 26rem;
  border-radius: 50%;
  background-color: rgba(231, 65, 65, 0.849);
}
.container-card .circle::before {
  content: "";
  position: absolute;
  top: 7rem;
  left: 1rem;
  background: linear-gradient(90deg, rgba(242, 137, 114, 0.7382645804) 20%, #f28972 100%);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.container-elements {
  height: 100%;
  width: 100%;
  background-color: yellow;
}

.card {
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
.card .card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}
.card .card-back:hover {
  transform: rotate(5deg);
}
.card .colum {
  width: 100%;
  height: 20%;
  background-color: rgba(17, 16, 16, 0.17);
}

h1 {
  font-weight: 400;
}

h2 {
  text-transform: uppercase;
}

.card .card-front, .card .card-back {
  position: absolute;
  border-radius: 1rem;
  padding: 2rem;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.75rem);
  -webkit-backdrop-filter: blur(0.75rem);
}

.card .card-front, .card .card-back {
  flex-direction: column;
  justify-content: space-between;
}

h1, h2 {
  color: transparent;
  text-shadow: 0rem 0.1rem 0 rgba(17, 16, 16, 0.17);
}

header {
  background-color: wheat;
  height: 8rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
