@import "mixins";
@import "fonts";
@import "animations";

img {
    width: 3rem;
}
.container-card {
    width: 100%;
    transform: rotate(-5deg);
    position: relative;
    display: flex;

    .circle {
    
        //  animation: orbit 60s ease-out infinite;
         &::after {
            position: absolute;
            content: "";
            width: 15rem;
            height: 15rem;
            top: 10rem;
            left: 10rem;
            border-radius: 50%;
            background: linear-gradient(90deg, rgba(118,224,231,1) 20%, rgba(118,224,231,1) 100%);
            
        }

        &::before {
            content: "";
            position: absolute;
            top: -10em;
            left: 25rem;

            background: linear-gradient(
                90deg,
                rgba(242, 137, 114, 0.7382645803698435) 20%,
                rgba(242, 137, 114, 1) 100%
            );
            // background:#F28972;
            // background-color:rgb(35, 219, 213);
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
        }
    }
}

.container-elements {
  margin-left: 2rem;
  margin-right: 5rem;
  
}
.card {
  
    @include size(30rem, 20rem);
    border-radius: 1rem;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
    &:hover {
        transform: rotateY(180deg);
    }

    .card-front {
        @extend %style-cards;
        @extend %flex-card;
        @include flex;
        @include flex-card(flex-start);
    }
    .card-back {
        @extend %style-cards;
        @include flex;
        @extend %flex-card;
        transform: rotateY(180deg);
    }

    .colum {
        width: 100%;
        height: 20%;
        background-color: rgba(17, 16, 16, 0.17);
    }
}
