

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-card ($aling){
    align-items: $aling;
} 
@mixin size ($width, $heigth) {
    width: $width;
    height: $heigth;
}

%rotate {
    transform: rotate(-50deg);
}

%style-cards {
    position: absolute;
    border-radius: 1rem;
    padding: 2rem;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 .8rem 3.2rem 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.75rem );
    -webkit-backdrop-filter: blur( 0.75rem);
}

%flex-card {
    flex-direction: column;
    justify-content: space-between;
}

%font-style {
    font-weight: 400;
    color: transparent;
    text-shadow: 0rem  .1rem 0 rgba(17,16,16,0.17);
}