
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-weight: 62.5%;
    
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
@media (max-width:900px) {

    .container {
        width: 100%;
        
    }

 
}