@import 'reset';
@import 'animations';
@import 'card';
@import 'fonts';
@import 'header';
@import 'login';
@import 'mixins';



header, .main-container {
  display: flex; 
  max-width: 1200px; 
  margin: auto;
  align-items: center;
  justify-content: space-between;
  
}
main {
  height: 100%;
}
.main-container {
  height: 100vh;
 
}

.container {
  background: rgb(7,7,77);
  background: linear-gradient(90deg, rgba(7,7,77,1) 5%, rgba(20,40,212,1) 47%, rgba(0,144,255,1) 87%);
}
