@import 'reset';
@import 'animations';
@import 'circles';
@import 'fonts';
@import 'header';
@import 'login';
@import 'mixins';



.container {
    
    &::before {
        content: "";
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        background-color: white;
        top:0;
        right: 0;
    }
}
    
.container {
    // transform: rotateY(180deg);
    overflow: hidden;
    perspective: 100rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background: #193B59;
    // background:#003F63;
    // background: #705E78;
    // background: rgb(27,185,180);
    // background: linear-gradient(90deg, rgba(27,185,180,1) 7%, rgba(83,222,233,1) 57%, rgba(81,222,233,0.9531162806919643) 96%);

 
}


