@import 'reset';


.container {
    
    &::before {
        content: "";
        width: 30rem;
        height: 30rem;
        border-radius: 50%;
        background-color: white;
        top:0;
        right: 0;
    }
}
    
.container {
    // transform: rotateY(180deg);
    overflow: hidden;
    perspective: 100rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background: #193B59;
    // background:#003F63;
    // background: #705E78;
    // background: rgb(27,185,180);
    // background: linear-gradient(90deg, rgba(27,185,180,1) 7%, rgba(83,222,233,1) 57%, rgba(81,222,233,0.9531162806919643) 96%);

 
}


.card {
  
    // background: none;
    // box-shadow: 0 .8rem 3.2rem 0 rgba( 31, 38, 135, 0.37 );
    // backdrop-filter: blur( 0.75rem );
    // -webkit-backdrop-filter: blur( 0.75rem);

    // animation: animation 5s ease-out infinite;
   
    border-radius: 1rem;
    width: 30rem;
    height: 20rem;
    transition: transform 0.8s;
	transform-style: preserve-3d;
    position: relative;
    &:hover {
        
    
        transform: rotateY(180deg);
    }
    
    &::before {
        content: '';
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        background: white;
        top: 0;
        left: 0;
    }

   
}
.card,  .card-back {
  


    .card-front {
  
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 .8rem 3.2rem 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 0.75rem );
        -webkit-backdrop-filter: blur( 0.75rem);
     
     
    }
    .card-front,  .card-back {
        position: absolute;
        border-radius: 1rem;
        // transform: rotate(5deg);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        width: inherit;
        height: inherit;
        backface-visibility: hidden;

        h1 {

            font-weight: 400;
            color: transparent;
            text-shadow: 0rem  .1rem 0 rgba(17,16,16,0.17);
        }
        img {
            width: 3rem;
        }
        h2{
            text-transform: uppercase; 
            color: transparent;
            text-shadow: 0rem  .1rem 0 rgba(17, 16, 16, 0.151);
        }
    }

    .card-back {
        transform: rotate(-50deg);
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 .8rem 3.2rem 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 0.75rem );
        -webkit-backdrop-filter: blur( 0.75rem);
       transform: rotateY(180deg);
       &:hover {
      background-color: black;
        transform: rotate(5deg);
     
    }
        .colum {
            width: 100%;
            height: 20%;
            background-color: rgba(17,16,16,0.17);
        }
        .cvv {
            display: flex;
            justify-content: space-between;
        }
    }
}

.form {
    width: 40%;
    height: 50%;
    background: rosybrown;
}

